@charset "UTF-8";
form#contato input{
    margin: 5px;
    padding: 5px;
    border:1px solid #ccc;
    font-size:15px;
    width:300px;
    min-height:30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none;
}
h1#title{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 30pt;
    background-color: #606060;
    margin-top: 10px;
}
div#form{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    display: block;
    position: absolute;
    float: left;
    border: solid 5px #606060;
    background-color: #333333;
    color: #ffffff;
    margin-top: -15px;
}
div#resto{
    width: 1000px;
    height: 510px;
    display: block;
    position: relative;
    float: right;
    border: solid 5px #606060;
    margin-top: -15px;
}
div#resto img#image{
    display: block;
    position: relative;
    float: left;
    margin-left: 10px;
}